body, html {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    border: 1px solid rgb(57, 12, 255);
}

h1 {
    margin-top: 15%;
    font-size: 2rem;
    text-align: center;
}

button {
    border: 1px solid white;
    padding: 1rem 1rem;
    border-radius: 10%;
}

button {
    background-color: black;
    color: white;
    font-size: 1rem;
}

button {
    display: block;
    margin: 45% auto;
}