body, html {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    border: 1px solid rgb(57, 12, 255);
}

h1 {
    margin-top: 15%;
    font-size: 2rem;
    text-align: center;
}

button {
    border: 1px solid white;
    padding: 1rem 1rem;
    border-radius: 10%;
}

button {
    background-color: black;
    color: white;
    font-size: 1rem;
}

button {
    display: block;
    margin: 45% auto;
}

.removeElement {
    display: none;
}

#scoreBoard {
    width: 18rem;
    height: 8rem;
    background-color: white;
    margin: 14rem auto 0 auto;
    display: flex;
    flex-direction: row;
}

#playerScore, #computerScore {
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
    background-color: rgb(255, 255, 255);
}


#playerTitle, #computerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 100%;
    text-align: center;
    color: black;
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
}

#pScore, #cScore {
    height: 75%;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

#output{
    color: greenyellow;
    margin: 2rem 1rem 0 1rem;
    text-align: center;
}


